@import flatpickr from "flatpickr";
@import "flatpickr/dist/flatpickr.min.css";
@import iziToast from "izitoast";
@import "izitoast/dist/css/iziToast.min.css";

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

.formDate {
    display: flex;
    justify-content: center;
}

#datetime-picker {
    margin-right: 20px;
}

.timer {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.value {
    font-size: 40px;
    margin-left: 5px;
}

.point {
    font-size: 41px;
    color: teal;
}

.btn {
    margin-top: 500px;
}

.label {
    text-align: center;
}